<html>
<head>
  <title>Servidor WSocket-io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type=text/javascript src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src = "/socket.io/socket.io.js" > </script>
</head>
<body>
  <div >
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Servidor socket RPI 3</h1>
      <p id='server-time'></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      <input type="button" id="pirButton" value="Activar pir" onClick="pirON();">
      <input type="button" id="pirButton" value="Desactivar pir" onClick="pirOFF();">
      </br>
      <input type="button" id="mq2Button" value="Activar mq2" onClick="mq2ON();">
      <input type="button" id="mq2Button" value="Desactivar mq2" onClick="mq2OFF();">
      </br>
      <input type="button" id="ledButton" value="Activar Led" onClick="ledON();">
      <input type="button" id="ledButton" value="Desactivar Led" onClick="ledOFF();">
      </br>
      <input type="button" id="caudalButton" value="Activar Caudal" onClick="caudalON();">
      <input type="button" id="caudalButton" value="Desactivar Caudal" onClick="caudalOFF();">
    </br>
    <input type="button" id="motoButton" value="Activar Moto-B" onClick="motoON();">
    <input type="button" id="motoButton" value="Desactivar Moto-B" onClick="motoOFF();">
      </div>
  </div>
</body>
<script>
      var host = location.origin;
      var socket = io.connect(host);
      var el = document.getElementById('server-time');
      el.innerHTML = 'Hora del servidor: ';
      socket.on('statusPIR', function (data) {
        /*$("body").css("background-color", data);*/
        console.log("Mensaje desde cliente hasta el server :" +data);
      });
      /*Funciones de respuesta*/
      function pirON(){
        socket.emit('SensorPIR', 'true');
      }
      function pirOFF(){
        socket.emit('SensorPIR', 'false');
      }

      function mq2ON(){
        socket.emit('SensorMQ2', 'true');
      }
      function mq2OFF(){
        socket.emit('SensorMQ2', 'false');
      }

      function ledON(){
        socket.emit('LED', 'true');
      }
      function ledOFF(){
        socket.emit('LED', 'false');
      }

      function caudalON(){
        socket.emit('SensorCaudal', 'true');
      }
      function caudalOFF(){
        socket.emit('SensorCaudal', 'false');
      }

      function sensorON(){
        socket.emit('SensorMoto', 'true');
      }
      function sensorOFF(){
        socket.emit('SensorMoto', 'false');
      }
</script>
</html>
